<app-initial-nav-bar class="col-sm-12 col-md-12 col-lg12 col-xl-12"></app-initial-nav-bar>
<div class="wrapper content">
  <div class="w-100 vision">
    <img class="col-sm-12 col-md-12 col-lg12 col-xl-12" id="vision" src="../../assets/img/Vision.png" alt="Cover photo">
  </div>
  <hr>
  <div class="wrapper col-sm-12 col-md-12 col-lg12 col-xl-12 introduction">
    <p>
      IntelliVision is a cloud-based web application which provides a smart management solution for users who deal with a big video library. Users can manage videos smartly by grouping them in-to folders and subfolders. IntelliVision will use smart video processing techniques for searching through the video for specific actions and objects without the user having to watch or skim through the video. Users of the system will be provided a cloud storage where they will upload their video library for it to be processed. User can also pass a link of a video for it to be processed. This will save the users time and effort of manually opening and searching through videos for specific content.
    </p>
  </div>
  <hr>
  <h1>
    Subcription Plans
  </h1>
  <div class="plans">
    <div class="col-sm-12 col-md-3 col-lg3 col-xl-3 subscription">
      <div>
        <h3>
          Basic
        </h3>
      </div>
      <div>
        <p>
        Basic subscription plan is for limited personal usage. It offers the following features
        </p>
        <ul>
          <li>10 GB cloud storage</li>
          <li>Unlimited video processing capability</li>
          <li>Smart video searching</li>
          <li>Private video library</li>
        </ul>
      </div>
      <div  class="price">
        <input type="button" value="Subscribe">
        <label for="price"><b>Rs 5000/Month</b></label>
      </div>
    </div>
    <div class="col-sm-12 col-md-3 col-lg3 col-xl-3 subscription">
      <div>
        <h3>
          Standard
        </h3>
      </div>
      <div>
        <p>
        Standard subscription plan is for small businesses or coorporations. It offers the following features
        </p>
        <ul>
          <li>50 GB cloud storage</li>
          <li>Unlimited video processing capability</li>
          <li>Smart video searching</li>
          <li>Private video library</li>
        </ul>
      </div>
      <div  class="price">
        <input type="button" value="Subscribe">
        <label for="price"><b>Rs 12000/Month</b></label>
      </div>
    </div>
    <div class="col-sm-12 col-md-3 col-lg3 col-xl-3 subscription">
      <div>
        <h3>
          Premium
        </h3>
      </div>
      <div>
        <p>
        Premium subscription plan is for big businesses or coorporations. It offers the following features
        </p>
        <ul>
          <li>100 GB cloud storage</li>
          <li>Unlimited video processing capability</li>
          <li>Smart video searching</li>
          <li>Private video library</li>
        </ul>
      </div>
      <div  class="price">
        <input type="button" value="Subscribe">
        <label for="price"><b>Rs 20000/Month</b></label>
      </div>
    </div>
  </div>
  <hr>
</div>
<app-footer></app-footer>
