<div class="container content col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="wrapper footer">
    <div>
      <h3>Contact Us!</h3>
    </div>
    <div class="contact">
      <div class="number col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <label for="Contact-Number">Contact Number:  +923121514704</label>
    </div>
    <div class="mail col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <label for="Conatct-Mail">Email Address:  hamzazaman9@gmail.com</label>
    </div>
    </div>
  </div>
</div>
