.footer{
  background: #76b852;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #76b852, #8DC26F);
  background: -moz-linear-gradient(to top, #76b852, #8DC26F);
  background: -o-linear-gradient(to top, #76b852, #8DC26F);
  background: linear-gradient(to top, #76b852, #8DC26F);
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
  background-color: #c0c0c0;
  width:100%;
  color: #ececec;
  margin-bottom: 1em;
}

.contact{
  display: flex;
  flex-direction: row;
}

.number{
  margin-right: 4em;
}

.mail{
  margin-left: 4em;
}


